<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="example-label">
            <span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </span>
            <span>
                My toolbar
            </span>
        </div>
        <div class="example-button-row">
            <a mat-button color="basic" routerLink="/">Home</a>
            <a mat-button color="basic" routerLink="/first">first Component</a>
            <a mat-button color="basic" routerLink="/second">Second Component</a>
            <a mat-button color="basic" routerLink="/galery">Galery</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>